<section class="hero">
  <nav>
    <img class="logo" src="">
  </nav>
  <h1 class="text-center">Fetch!</h1>
  <p class="text-center">Find your best buddy a best buddy!</p>
</section>

<section class="text-center">
  
</section>

{{!-- <h1>welcome</h1> --}}