<section class="hero">
  <nav>
      <img class="logo" src="">
  </nav>
  <h1 class="text-center">Fetch!</h1>
  <p class="text-center">the place to find your best buddy a best buddy!</p>
</section>
<!--profile-->
<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">Buddy Age 2 </h5>
      <p class="card-text">Im the fastest in the whole dog park.</p>
      <p class="card-text"><small class="text-muted">Last online 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
      <h5 class="card-title">Coco Age 9</h5>
      <p class="card-text">I spend most of my time lounging.</p>
      <p class="card-text"><small class="text-muted">Last online 20 mins ago</small></p>
  </div>
  <img src="" class="card-img-top" alt="">
</div>

{{!-- <h1>welcome</h1> --}}