
<div class="container d-flex mt-5 p-2 justify-content-around align-items-center">
  <form class="login-form col-4 border p-3">
    <div>
      <label class="form-label" for="email-login">email:</label>
      <input class="form-control" type="text" id="email-login" />
    </div>
    <div>
      <label class="form-label" for="password-login">password:</label>
      <input class="form-control" type="password" id="password-login" />
    </div>
    <div class="d-flex w-100 justify-content-center mt-2">
      <button class="form-btn btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Login</button>
    </div>
  </form>

  <form class="signup-form col-4 border p-3">
    <div>
      <label class="form-label" for="username-signup">username:</label>
      <input class="form-control" type="text" id="username-signup" />
    </div>
    <div>
      <label class="form-label" for="email-signup">email:</label>
      <input class="form-control" type="text" id="email-signup" />
    </div>
    <div>
      <label class="form-label" for="password-signup">password:</label>
      <input class="form-control" type="password" id="password-signup" />
    </div>
    <div class="d-flex w-100 justify-content-center mt-2">
      <button class="form-btn btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Sign Up</button>
    </div>
  </form>
</div>
<script src="/javascript/login.js"></script>